body {
  background-color: rgb(232, 217, 221);
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 20px;
}

h1 a {
  font-size: 50px;
  padding: 0px;
  background-color: rgb(232, 217, 221);
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  background-color: rgb(199, 195, 190);
  padding: 10px 20px;
  margin: 25px 0px;
  font-size: 20px;
}

#app-links a {
  background-color: rgb(199, 195, 190);
  padding: 20px 35px;
  margin: 25px 0px;
  text-align: center;
  display: inline-block;
  font-size: 40px;
}

#log-in-form {
  padding: 20px 35px;
  margin: 25px 0px;
  font-size: 20px;
}

#log-in-form input {
  margin-top: 10px;
  margin-bottom: 10px;
}

input[type=text], input[type=password] {
  border: 3px solid black;
  border-radius: 3px;
  width: 50%;
  padding: 8px;
}

input[type=submit] {
  background-color: rgb(199, 195, 190);
  padding: 10px 20px;
  border: none;
  margin-top: 20px;
  font-size: 20px;
  display: block;
}

#flash-messages {
  background-color: rgb(147, 171, 147);
  color: black;
  font-family: 'Courier New', Courier, monospace;
  padding: 20px;
}

#validation {
  color: black;
  background-color: rgb(227, 119, 119);
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  padding: 20px;
  list-style: none;
}

#create input[type=submit] {
  padding: 10px 20px;
  border: 3px solid black;
  margin-top: 20px;
  border-radius: 3px;
  font-size: 20px;
  display: block;
}

label {
  padding: 5px;
  display: block;
}

#create input[type="text"] {
  border: 0.5px solid black;
}



