body {
  background-color: rgb(228, 228, 200);
  font-family: Georgia, 'Times New Roman', Times, serif;
  max-width: 650px;
  margin: auto;
  width: auto;
  height: auto;
}

header #header-container li {
  display: inline-block;
}

#header-container {
  font-size: 30px;
  background-color: rgb(34, 34, 34);
  display: block;
}

h1 {
  font-size: 50px;
  text-align: center;
}

h2 {
  font-size: 30px;
  text-align: center;
}

h3 {
  text-align: center;
}

a {
  color: black;
  text-decoration: none;
}

#code-snippets-links {
  padding: 0;
}

#snippets-container {
  margin: 0;
}

#code-snippets-links ul {
  margin: 20px;
  padding: 0;
  
}

#code-snippets-links li, #user-snippets li {
  font-size: 30px;
  padding: 10px 10px 10px 10px;
  margin: 0;
  border-bottom: 5px solid rgb(91, 78, 97);
}

#snippet-title {
  font-size: 20px;
  text-align: center;
  margin-top: 40px;
}

.logout {
  margin: 0;
  padding: 0;
}

.create-title/*, .create-desc*/ {
  font-size: 20px;
  margin-bottom: 5px;
}

#snippet-desc {
  background-color: white;
  border: 1px solid black;
  overflow: scroll;
}

li {
  list-style: none;
}

.home, .login, .register, .logout, .edit, .delete, .update, .user {
  background-color: rgb(91, 78, 97);
  padding: 20px 40px 20px 40px;
  font-size: 20px;
  display: inline-block;
  border: none;
  cursor: pointer;
}

.home {
  background-color: rgb(159, 216, 216) !important;
}

.register, .user {
  background-color: rgb(73, 131, 131);
}

.login, .logout {
  background-color: rgb(194, 110, 85);
}

#log-out-form input[type=submit] {
 font-family: Georgia, 'Times New Roman', Times, serif;
 border: none;
}

#log-in form, #register form, #create form, #edit-form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#log-in input, #register input, #create input {
  font-size: 15px;
  padding: 10px;
  margin-bottom: 10px;
  width: 250px;
}

#log-in input[type=submit], 
#register input[type=submit],
#create input[type=submit] {
  background-color: rgb(91, 78, 97);
  display: block;
  margin-top: 10px;
  width: 150px;
  font-size: 20px;
  border: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#user-home-nav a {
  font-size: 30px;
  background-color: rgb(91, 78, 97);
  padding: 20px 40px 20px 40px;
  margin-bottom: 30px;
  display: block;
}

.edit, .delete, .update {
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#flash-messages {
  color: black;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  padding: 20px;
  text-align: center;
}

.success {
  background-color: rgb(147, 171, 147);
}

.danger {
  background-color: rgb(212, 74, 74);
}

#validation li {
  background-color: rgb(212, 74, 74);
  color: black;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  padding: 20px;
  list-style: none;
  margin-bottom: 5px;
}
