<h3>Create a new snippet</h3>
<div id="create">
<form id="create-form" method="post" action="./crud/create-new">

  <label for="snippetTitle" class="create-title">Title</label>
  <input name="snippetTitle" type="text" id="create-title"><br>

  <label for="snippet-description" class="create-desc">Description</label>
  <textarea id="create-description" name="snippetDescription" rows="4" cols="50"> 
 
  </textarea> 
 
  <input type="submit" value="Create">
</form>
</div>