<h3>Create a new snippet</h3>
<div id="create">
<form id="create-form" method="post" action="../crud/create-new">

  <label for="snippetTitle">Title</label>
  <input name="snippetTitle" type="text" id="snippet-tile"><br>

  <label for="snippet-description">Description</label>
  <textarea id="snippet-description" name="snippetDescription" rows="4" cols="50">
  </textarea>

  <input type="submit" value="Create">
</form>
</div>