<body>

<a href="">Log in</a>
<a href="">Register</a>

  <nav id="app-links">
    <a href="">Create</a>
    <a href="">Read</a>
    <a href="">Update</a>
    <a href="">Delete</a>
  </nav>

</body>
</html>