<body>

<a href="/log-in">Log in</a>
<a href="/register">Register</a>

  <nav id="app-links">
    <a href="/create-new">Create</a>
    <a href="">Read</a>
    <a href="">Update</a>
    <a href="">Delete</a>
  </nav>

</body>
</html>