<div id="code-snippets">
{{#if viewData.codeSnippets.length}}
<ul>
{{#each viewData.codeSnippets}}
<a href="../crud/{{this.id}}">
{{this.title}}
</a>
<br>
{{/each}}
</ul>
{{else}}
<p>No code snippets added yet.</p>
{{/if}}
</div>