<h3>Welcome to your page {{username.username}}!</h3>

<div id="user-home-nav">
  <nav id="app-links">
    <a href="../login/user-snippets">Your code snippets</a>
    <a href="../crud/read">All code snippets</a>
    <a href="../crud/create">Create new code snippet</a>
  </nav>
</div>

  