<h1>Welcome to your page </h1>
<form id="log-out-form" method="post" action="../login/logout">
  <input type="submit" value="Log out">
</form>
<div id="user-home-nav">
  <nav id="app-links">
    <a href="../login/user-snippets">Your code snippets</a>
    <a href="../crud/read">All code snippets</a>
    <a href="../crud/create">Create new code snippet</a>
  </nav>
</div>

  