<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <title>B1 CRUD</title>
</head>
<body>
  <main id="grid-container">
    {{>header}}
    {{>flash}}
    {{{body}}}
  </main>
</body>
</html>